@font-face {
  font-family: "Wisdom Script";
  src: url("../fonts/wisdom-script.otf") format("opentype");
}

*,
*::before,
*::after {
  /* margin: 0;
  padding: 0; */
  box-sizing: border-box;
}
html {
  font-size: 16px;
  /* margin: 0.625em; */
  /* margin: 1.25em; */
}

body {
  font-size: 1em;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  padding: 1.1em;
  display: flex;
}

.container {
}

/* TYPOGRAPHY
##########################  */

h3 {
  padding: 1.25em 0;
}

h2,
h3,
h4 {
  text-transform: uppercase;
  font-weight: 900;
}

h3 {
  color: #77a466;
  margin: 0;
  font-size: 1.18em;
}

header h1 span {
  color: #77a466;
}

.home-about,
.menu,
.reviews,
.address {
  margin: 0;
  padding: 0;
  border-bottom: 0.0625em solid rgb(218, 218, 218);
}

/* HEADER 
##########################  */

header {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  text-align: center;
}

h1 {
  margin: 0;
  padding: 0;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: flex;
  justify-content: center;
  align-content: center;
}

nav a {
  text-decoration: none;
  color: #77a466;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 2.5;
  padding: 0.3em 0;
}

/* HOME-ABOUT 
##########################  */

.home-title > p {
  line-height: 1.8;
  font-size: 1.1em;
  /* font-size: 3em; */
  font-weight: 500;
  color: rgb(0, 0, 0);
}

header h1 {
  text-transform: uppercase;
  border-bottom: 0.125em solid #77a466;
  line-height: 2;
}

img {
  width: 100%;
  height: auto;
  border-top: 0.1875em solid #77a466;
  border-bottom: 0.1875em solid #77a466;
}

/* MENU
##########################  */

.container > ul {
  color: #77a466;
  line-height: 2.5;
  font-weight: 500;
  list-style-type: none;
  padding: 0;
}

/* body,
footer {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-flow: row wrap;
} */

/* REVIEWS
##########################  */

.reviews {
  line-height: 1.5;
  font-size: 1.1em;
}

/* ADDRESS
##########################  */

/* FOOTER
##########################  */
footer {
  text-align: center;
  font-size: 0.625em;
}

footer span {
  font-family: "Wisdom Script", cursive;
  color: #77a466;
  font: 500;
}

/* TABLET STYLE
##########################  */

@media all and (min-width: 768px) {
  body {
    display: flex;
    padding: 2em;
  }
  .bottom-sct {
    padding: 0;
    margin: 0;
    display: flex;
    /* align-content: flex-start; */
    flex-flow: row wrap;
    justify-content: space-evenly;
    border-bottom: 0.0625em solid rgb(218, 218, 218);
  }
  .menu,
  .reviews,
  .address {
    padding: 0.9em;
    max-width: 35%;
    font-size: 1em;
    /* margin-top: 10px; */
  }
  .reviews {
    border-left: 0.0625em solid rgb(218, 218, 218);
    border-right: 0.0625em solid rgb(218, 218, 218);
    line-height: 1.5;
    font-size: 1em;
  }

  h4 {
    font-size: 0.8em;
  }

  /* section {
    display: flex;
    flex-grow: 1;
    flex-flow: row wrap;
    justify-content: center;
    align-content: flex-end;
    flex-direction: row;
  } */
}

/* DESKSTOP STYLE
##########################  */

@media all and (min-width: 1200px) {
  body .container {
    max-width: 1200px;
    margin: 0 auto;
  }

  h1,
  h2,
  h3,
  h4 {
    color: black;
    text-transform: uppercase;
    font-weight: 700;
  }
  h1 {
    font-size: 30px;
  }
  h2 {
    font-size: 24px;
  }
  h3 {
    font-size: 18px;
  }
  h4 {
    font-size: 12px;
  }

  p {
    font-size: 14px;
    line-height: 21px;
    padding: 0 30px;
  }

  /*The widths are in a percentage!*/
  header {
    height: 110px;
    border-bottom: 3px solid #77a466;
    margin: 0 auto;
  }

  header h1 {
    float: left;
    margin: 0;
    padding: 38px 0;
  }
  header h1 span {
    color: #77a466;
  }

  header nav {
    float: right;
    padding: 46px 0;
  }
  header nav ul {
    margin: 0;
    padding: 0;
  }
  header nav ul li {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    padding: 0 10px;
    display: inline;
  }
  header nav ul li a {
    text-decoration: none;
    color: #77a466;
  }

  /*The widths are in a percentage!*/
  .top-section,
  .bottom-section {
    margin: 0 auto;
    clear: both;
  }

  .main-image {
    height: auto;
    float: left;
  }
  .main-image img {
    width: 100%;
    border-bottom: 3px solid #77a466;
  }

  .home-title {
    height: auto;
    float: left;
  }
  .home-title h3 {
    text-align: left;
    padding: 5px 0;
    color: #77a466;
  }
  .home-title p {
    padding: 0;
    font-size: 16px;
    line-height: 25px;
  }

  .section-one,
  .section-two,
  .section-three {
    width: 33%;
    height: auto;
    float: left;
    border-top: 1px solid #eee;
  }

  .section-one h4 {
    padding: 10px 0;
  }

  .section-two {
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
  }

  .section-two h4,
  .section-three h4 {
    padding: 10px 30px;
  }

  .menu {
    list-style: none;
    padding: 0;
  }
  .menu li {
    padding: 10px 0;
    color: #77a466;
  }

  .reviews {
    color: #333;
    font-size: 16px;
    line-height: 21px;
  }

  .address {
    font-size: 16px;
    line-height: 24px;
  }

  /*The widths are in a percentage!*/
  footer {
    height: 50px;
    border-top: 3px solid #eee;
    margin: 0 auto;
    clear: both;
    text-align: center;
  }
  footer span {
    font-family: "Wisdom Script", cursive;
    text-transform: lowercase;
    color: #77a466;
    font-size: 14px;
  }
}

/* PRINT OPTION
##########################  */

@media print {
  /* print style sheets go here */
}
